#topbooks {
	margin:0px;
	border:0px;
	padding:0px;
	width:33%;
	display:inline-block;
	vertical-align:top;
	text-align:center;
}

#toppages {
	margin:0px;
	border:0px;
	padding:0px;
	width:34%;
	display:inline-block;
	vertical-align:top;
	text-align:center;
}

#topitems {
	margin:0px;
	border:0px;
	padding:0px;
	width:33%;
	display:inline-block;
	vertical-align:top;
	text-align:center;
}

.pagethumb {
	margin-top:10px;
	margin-left:10px;
	float:left;
}



























